<link rel="stylesheet" href="/assets/css/custom.css">
<link rel="stylesheet" href="{{ '/assets/css/code-badge.css' | relative_url }}">
<script defer src="{{ '/assets/js/code-badge.js' | relative_url }}"></script>

{% if page.private_password %}
<meta name="private-password" content="{{ page.private_password | escape }}">
{% endif %}

{% if page.private_title %}<meta name="private-title" content="{{ page.private_title | escape }}">{% endif %}
{% if page.private_remember %}<meta name="private-remember" content="{{ page.private_remember | escape }}">{% endif %}
